# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Behave artifacts
features/**/*.log
features/**/*.png
features/**/*.jpg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
